html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    height:50px;
    background-color: rgb(241, 227, 206);
}

main {
    height: 90%;
    background-color: rgb(241, 227, 206);
    display: flex;
}

main h2 {
    margin-left: 30px;
}

#canvas {
    margin-left: 30px;
    position: absolute;
    z-index: 1;   
}

#canvas_img {
    position: relative;
    margin-left: 30px;
}


#mini_can {
    margin-top: 50px;
    position: absolute;
    z-index: 1;   
}

#mini_can_img {
    position: relative;
    margin-top: 50px;
}

#src {
    width: 65%;
    display: flex;
   
}

#main_can {
    margin-top: 50px;
}

#map_size {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 480px;
}

#btn {         
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
#get_map {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#save {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#draw {
    margin-top: 50px;
}

#line {
    height: 30px;
    width: 120px;
    font-size: medium;
    background-color: white;
}

#square {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#eraser {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#all_erase {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#plus {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#minus {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#ok {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#info_space {
    position: fixed;
    margin-top: 480px;
    margin-left: 30px;
   
}


#info {
    font-size: large;
}

#reset {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}

#file_path {
    height: 30px;
}

#find_file {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    font-size: medium;
}