html, body {
    margin: 0;
    width: 100%;
    
}

header {
    height:100px;
    background-color: rgb(247, 235, 216);
}

main {
    height:100%;
    background-color: rgb(247, 235, 216);
    display: flex;
}

#title {
    margin-left: 50px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

#ip_title {
    font-size: large;
    font-weight: 600;
}
#ip_status {
    text-align: center;
}
#ip_val {
   height: 23px;
   width: 150px;
   font-size: large;
   font-weight: 600;
}
#canvas {
    margin-left: 30px;
    position: absolute;
    z-index: 1;   
}

#canvas_img {
    position: relative;
    margin-left: 30px;
}
#ip_ok {
    white-space: nowrap;
    font-weight: 600;
    height: 25px;
    width: 35px;
    font-size: large;
}

#mini_can {
    margin-top: 50px;
    position: absolute;
    z-index: 1;   
}

#mini_can_img {
    position: relative;
    margin-top: 50px;
}

#src {
    width: 65%;
    display: flex;
   
}

#main_can {
    margin-top: 50px;
}

#map_size {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 480px;
}

#btn {         
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
#get_map {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#save {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#draw {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}

#line {
    height: 30px;
    width: 120px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
   
}

#square {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#eraser {
    height: 30px;
    width: 120px;
    margin-top: 20px;
   
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#arrow {
    height: 30px;
    width: 120px;
    margin-top: 20px;  
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#all_erase {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#plus {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#minus {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#up {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#down {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#right {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#left {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#ok {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#path {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#info_space {
    position: fixed;
    margin-top: 480px;
    margin-left: 30px;
   
}


#info {
    font-size: 25px;
    font-weight: 700;
}

#reset {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#file_path {
    height: 30px;
}

#find_file {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    color: #3d3d3d;
}

#file_load {
    margin-left: 20px;
    font-size: large;
}

#load {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

button {
    background-color: white;
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px #929292;
}

button:active {
    box-shadow: none;
}


button:hover {
   color: #3d3d3d;
   background-color: rgb(198, 185, 211);
}

